<p>edit-club works!</p>
<div class="container">
    <h2 class="text-center mt-5 mb-3">Edit Club</h2>
    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-info float-right" routerLink="/">
                View All Club
            </a>
        </div>
        <div class="card-body">

            <form>

                <div class="form-group" class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="Name">Nom</label>
                        <input name="name" [(ngModel)]="club.name" class="form-control" />


                    </div>

                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="Telephone">Telephone</label>
                        <input type="number" name="telephone" [(ngModel)]="club.telephone" class="form-control" />


                    </div>

                </div>


                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="Description">Description</label>
                        <input type="text" name="description" [(ngModel)]="club.description" class="form-control" />


                    </div>

                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="logo">logo</label>
                        <input type="text" name="logo" [(ngModel)]="club.logo" class="form-control" />


                    </div>

                </div>






                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-outline-primary mt-3 align" (click)="update()">Enregister
                        Club</button>
                </div>

                <a>back to list</a>
            </form>

        </div>
    </div>
</div>