.circular--square { border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;width: 50px;}
/* 
Generic Styling, for Desktops/Laptops 
*/

.mat-dialog-container {
    width: 25%;
    height: 25%;
}