.circular--square { border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;width: 50px;}
/* 
Generic Styling, for Desktops/Laptops 
*/

.modal1 active{
background-color: aliceblue !important;
}
::ng-deep.mat-dialog-container {
    padding: 25px !important;
}