<p>view-club works!</p>
<h1>Club</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ club.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ club.name }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ club.telephone }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ club.description }}</td>
        </tr>
        <tr>
            <th>Created_at</th>
            <td></td>
        </tr>
        <tr>
            <th>Updated_at</th>
            <td></td>
        </tr>
        <tr>
            <th>Logo</th>
            <td>{{ club.logo }}</td>
        </tr>
    </tbody>
</table>

<a>back to list</a>

<a >edit</a>